@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer{
        display: none;
    }
    nav {
        display: none;
    }
    nav > a{
        display: inline;
    }
    #itens{
        position: relative;
        background-color: transparent;
        border: none;
        top: 0;
        right: 0;
        display: block;
    }

    #itens > a{
        border: none;
    }

    p{
        font-size: 2.0vw;
    }

    h2{
        font-size: 5vw;
    }
}