@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

/*
PALETA DE CORES:
#011FEB
#4700FA
#190BD4
#0B4ED4
#0C8BF7
*/

:root{
    --cor1: color #011FEB;
    --cor2: color #4700FA;
    --cor3: color #190BD4;
    --cor4: color #0B4ED4;
    --cor5: color #0C8BF7;

    /*--fonte1: 'Ubuntu Mono', monospace;*/
    --fonte1: 'Courier Prime', monospace;*/
}

p{
    font-family: var(--fonte1);
    font-size: 2em;
    color: white
}

body{
    background-color: grey;
}

img {
    width: 300px;
    opacity: ;
}